POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=lagoe_local
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password

PORT=8080

APP_ENV=local

PUBSUB_SERVICE_ACCOUNT=rahasia
GCP_NAME=ngulik-core
FIREBASE_SERVICE_ACCOUNT=rahasia